# Compiled Dirs (http://nodejs.org/api/addons.html)
client/dist/bundle.js
.DS_Store

# Dependency directorys
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/

# private information
*.env

package-lock.json